apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apexkube-website
  namespace: argocd
spec:
  source:
    repoURL: https://github.com/woodez-kubernetes/apexkube-web.git
    targetRevision: release-dev
    path: manifests
  destination:
    server: https://kubernetes.default.svc # Use your own cluster server
    namespace: woodez
  project: default